<template>
  <section class="users">
    <UsersTableInfo
      :columns="columns"
      :rows="rowsFirstTable"
      :table-options="tableFieldOptions"
    />

    <UsersTableInfo
      :columns="columns"
      :rows="rowsSecondTable"
      :table-options="tableFieldOptions"
    />
  </section>
</template>

<script>
import { ref } from "vue";

import UsersTableInfo from "../components/UsersTableInfo";
export default {
  name: "Users",

  components: {
    UsersTableInfo,
  },

  setup() {
    const columns = [
      {
        id: 1,
        label: "Фамилия И.О.",
      },
      {
        id: 2,
        label: "Дата рождения",
      },
      {
        id: 3,
        label: "Любимая книга",
      },
      {
        id: 4,
        label: "Пол",
      },
      {
        id: 5,
        label: "Навыки",
      },
    ];
    const rowsFirstTable = ref([]);
    const rowsSecondTable = ref([]);
    const initialObj = {
      fullName: "Шкарупа Виктор Сергеевич",
      birthday: "1995-12-20",
      favoriteBook: "Грокаем алгоритмы",
      sex: "Мужской",
      skills: ["JS", "Vue"],
    };
    const tableFieldOptions = {
      select: [
        {
          id: 1,
          name: "Время деньги",
        },
        {
          id: 2,
          name: "Грокаем алгоритмы",
        },
        {
          id: 3,
          name: "Как пасти котов",
        },
      ],
      multipleSelect: [
        {
          id: 1,
          name: "JS",
        },
        {
          id: 2,
          name: "Vue",
        },
        {
          id: 3,
          name: "SCSS",
        },
      ],
    };
    const fillArraySomeData = (arr, rawData) => {
      arr.value = [...Array(3)].map(() => {
        return {
          ...rawData,
          uuid: crypto.randomUUID(),
        };
      });
    };
    fillArraySomeData(rowsFirstTable, initialObj);
    fillArraySomeData(rowsSecondTable, initialObj);

    return {
      columns,
      rowsFirstTable,
      rowsSecondTable,
      tableFieldOptions,
    };
  },
};
</script>

<style lang="scss" scoped>
.users {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
</style>
