<template>
  <label for="baseInput">
    <input
      id="baseInput"
      :type="inputType"
      :value="modelValue"
      :placeholder="placeholder"
      @input="$emit('update:modelValue', $event.target.value)"
    />
  </label>
</template>

<script>
export default {
  name: "BaseInput",

  props: {
    modelValue: {
      type: String,
    },
    inputType: {
      type: String,
      default: "text",
    },
    placeholder: {
      type: String,
    },
  },

  emits: ["update:modelValue"],
};
</script>

<style scoped></style>
