<template>
  <select @change="$emit('update:modelValue', $event.target.value)">
    <option hidden>Выберите</option>
    <option
      v-for="item in options"
      :key="item.id"
      :selected="modelValue === item.name"
      :value="item.name"
    >
      {{ item.name }}
    </option>
  </select>
</template>

<script>
export default {
  name: "BaseSelect",

  props: {
    options: {
      type: Array,
      required: true,
    },

    modelValue: {
      type: String,
    },
  },

  emits: ["update:modelValue"],
};
</script>

<style scoped></style>
