<template>
  <label :for="id">
    <input
      :id="id"
      type="radio"
      :value="value"
      :checked="modelValue === value"
      @change="$emit('update:modelValue', $event.target.value)"
    />
    {{ value }}
  </label>
</template>

<script>
export default {
  name: "BaseRadio",

  props: {
    id: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    modelValue: {
      type: String,
    },
  },

  emits: ["update:modelValue"],
};
</script>

<style scoped></style>
