<template>
  <table>
    <thead>
      <tr>
        <th v-for="col in columns" :key="col.id">
          <span>
            {{ col.label }}
          </span>
        </th>

        <th>Действия</th>
      </tr>
    </thead>

    <tbody v-if="rows.length">
      <tr v-for="(row, idx) in rows" :key="row.uuid">
        <td>
          <BaseInput v-model="row.fullName" placeholder="Введите ФИО" />
        </td>

        <td>
          <BaseInput v-model="row.birthday" input-type="date" />
        </td>

        <td>
          <BaseSelect
            v-model="row.favoriteBook"
            :options="tableOptions.select"
          />
        </td>

        <td>
          <BaseRadio
            :id="`male - ${row.uuid}`"
            value="Мужской"
            v-model="row.sex"
          />

          <BaseRadio
            :id="`female - ${row.uuid}`"
            value="Женский"
            v-model="row.sex"
          />
        </td>

        <td>
          <select multiple size="2" v-model="row.skills">
            <option
              v-for="item in tableOptions.multipleSelect"
              :key="item.id"
              :value="item.name"
            >
              {{ item.name }}
            </option>
          </select>
        </td>

        <td class="table__action">
          <button class="table__btn" @click="removeRow(idx)">Удалить</button>
        </td>
      </tr>
    </tbody>

    <tbody v-else>
      <tr>
        <td colspan="6">
          <p>Нет данных</p>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import BaseInput from "@/components/BaseInput";
import BaseRadio from "@/components/BaseRadio";
import BaseSelect from "@/components/BaseSelect";
export default {
  name: "BaseTable",

  components: {
    BaseInput,
    BaseRadio,
    BaseSelect,
  },

  props: {
    columns: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
    tableOptions: {
      type: Object,
      required: true,
    },
  },

  emits: ["removeRow"],

  setup(props, { emit }) {
    const removeRow = (rowIndex) => {
      emit("removeRow", rowIndex);
    };

    return {
      removeRow,
    };
  },
};
</script>

<style scoped>
table {
  border: 2px solid #608cdc;
  border-radius: 3px;
  background-color: #fff;
}
th {
  background-color: #608cdc;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  user-select: none;
}
td {
  background-color: #f9f9f9;
}
th,
td {
  min-width: 120px;
  padding: 10px 20px;
}
</style>
