<template>
  <div class="table__container">
    <BaseTable
      :columns="columns"
      :rows="rows"
      :table-options="tableOptions"
      @removeRow="removeRow"
    />

    <button @click="addRowToTable">Добавить</button>
  </div>
</template>

<script>
import BaseTable from "@/components/BaseTable";

import { useTableAction } from "../composables/useTableAction";

export default {
  name: "UsersTableInfo",

  components: {
    BaseTable,
  },

  props: {
    columns: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
    tableOptions: {
      type: Object,
      required: true,
    },
  },

  setup(props) {
    const { removeRow, addRowToTable } = useTableAction(props.rows);

    return {
      removeRow,
      addRowToTable,
    };
  },
};
</script>

<style lang="scss" scoped>
.table__container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  button {
    align-self: flex-end;
  }
}
</style>
