<template>
  <Users />
</template>

<script>
import Users from "@/views/Users";

export default {
  name: "App",

  components: {
    Users,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
